*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body{
    height:100%;
    font-family:'PT sans', sans-serif;
    font-size:16px;
}
a{
    &:link, &:visited{
        color:#000000;
        text-decoration: none;
    }

    &:hover{
        text-decoration:underline;
    }
}
button{
    background:0;
    border:0;
    cursor:pointer;
}
.page-header{
    height:100vh;
    background-image:url(../img/background.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    color:#ffffff;
}
.author{
    position:absolute;
    top:50%;
    left:50%;
    width:70vw;
    transform:translate(-50%, -50%);
    display:flex;
    flex-flow:column nowrap;
    text-align:center;
    letter-spacing:1px;

    img{
        width:100px;
        margin:0 auto 15px auto;
    }
}
.nav-group{
    position:fixed;
    width:100%;
    height:100vh;
    transform:translateX(100%);
    top:0;
    left:0;
    z-index:9999;
    transition:transform ease .3s;
    background:linear-gradient(#5f2c8a,#2bbe92);
    padding-top:76px;
    &.opened ul li{
        transform: translateX(0);
        transition:transform ease .5s .2s;
    }
    li{
        height:56px;
        a, i{
            display:flex;
            align-items:center;
            justify-content: center;
            height:100%;
            color:#ffffff;
            padding:0 0 0 10px;
            font-size:1.5rem;
        }
        i{
            margin:0 15px 0 0;
        }
        &.span a{
            justify-content: center;
        }
        a:hover{
            background:rgba(255,255,255,.2);
        }
        &:nth-child(odd){
            transform:translateX(-200%);
        }
        &:nth-child(even){
            transform: translateX(200%);
        }
    }
    &.opened{
        transform:translateX(0);
    }
    .page-nav{
        list-style:none;
        height:100%;
    }
    .search-box{
        position:absolute;
        top:10px;
        left:15px;
        height:42px;
        display:flex;
        background-color:#ffffff;
        border-radius:3px;
        box-shadow:3px 3px 3px 0 rgba(0,0,0,.3);
        border:solid 2px #ebebeb;
        button{
            width:42px;
            height:42px;
            font-size:1.2rem;
            color:#4169e1;
            display:block;
        }
        label{
            position:absolute;
            top:50%;
            left:0;
            transform: translate(8px,-50%);
            color:#4169e1;
            pointer-events:none;
            transition:ease .1s;
        }
        input{
            padding:10px 0 0 8px;
        }
        button, input{
            border:0;
            background-color:transparent;
        }
        input:focus + label, input:not(:placeholder-shown) + label{
            font-size:.8rem;
            transform:translate(8px,-20px);
        }
    }
}
.page-logo{
    background-color:#1a54e7;
    line-height:56px;
    padding:0 15px;
    flex-basis:200px;
    text-align: center;
a{
    color:#ffffff;
}
    font-size:22px;
}
h3{
    font-size:22px;
}
h2, .article-header{
    display:none;
}
.top-bar{
    background-color:#ffffff;
    display:flex;
    height:56px;
    align-items:center;
    justify-content:space-between;
    padding-right:20px;
    .menu-open{
        width:26px;
        height:22px;
        margin:0 0 0 50px;
        border-top:solid 4px #000000;
        position:relative;
        transition:transform ease 0.2s;
        z-index:10000;
        &::before, &::after{
            content:'';
            position:absolute;
            width:100%;
            left:0;
            top:0;
            border-top:solid 4px #000000;
        }
        &::before{
            transform:translateY(5px);
            transition:transform ease 0.3s;
        }
        &::after{
            transform:translateY(14px);
            transition:transform ease 0.2s;
        }
        &.active{
            transform:rotate(45deg) translate(0,9px);
            border-color:#ffffff;
            &::before{
                border:0;
            }
            &::after{
                transform:rotate(-90deg) translate(4px,0);
                border-color:#ffffff;
            }
        }
    }
}
.modal-window{
    background-color:rgba(0, 0, 0, 0.65);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:998;
    display:none;
    &.opened{
        display:block;
    }
}
.text-container{
    position:relative;
    label{
        position:absolute;
        color:#000000;
        top:50%;
        left:2px;
        padding:0 8px;
        transform:translateY(-50%);
        transition:.2s;
        cursor:text;
        background-color:#ffffff;
        &.active{
            top:0;
            left:15px;
            font-size:14px;
        }
    }
}
.sf-form{
    flex-basis:100%;
}
.search-form{
    display:none;
    padding:20px;
    align-items:center;
    align-content:center;
    flex-wrap:wrap;
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    width:280px;
    height:250px;
    background-color:#ffffff;
    z-index:999;
    border-radius:3px;
}
.search-field{
    height:42px;
    width:100%;
    border:solid 2px #777777;
    border-radius:3px;
    padding:0 35px 0 8px;
}
.search-button{
    color:#c0392b;
    font-size:20px;
    position:absolute;
    top:50%;
    right:10px;
    transform:translateY(-50%);
}
.search-close, .menu-close{
    position:absolute;
    top:0;
    right:0;
    padding:10px;
}
.search-close{
    font-size:20px;
}
.menu-close{
    font-size:24px;
    color:#ffffff;
}
.search-form.opened{
    display:flex;
}
.people{
    background-color:#1a54e7;
    color:#ffffff;
    font-weight:bold;
    padding:5px 10px;
    border-radius:2px;
    position:absolute;
    bottom:25px;
    left:20px;
    transition: filter ease .2s;
    &:hover{
        filter:brightness(0.8);
    }
}
.page-header time{
    position:absolute;
    bottom:25px;
    right:10px;
    font-size:13px;
    color:#b0b0b0;
    a{
        color:#1a54e7;
    }
}
.next-picture, .prev-picture{
    color:#ffffff;
    padding:8px;
    font-size:24px;
    opacity:.5;
    position:absolute;
    top:calc(50% + 36px);
    transform:translateY(-50%);
}
.next-picture:hover{
    opacity:1;
}
.prev-picture{
    &:hover{
        opacity:1;
    }
    left:8px;
}
.next-picture{
    right:8px;
}

main article > div{
    padding:40px 20px;
    &:nth-child(odd){
        background-color:#f6f6f6;
    }
}
.article-prev{
    margin:0 0 20px 0;
}
.article-prev-b{
    margin:0 0 20px 0;
    flex-basis:100%;
}
.article-prev img, .article-prev-b img{
    width:100%;
}
.article-prev p, .article-prev-b p{
    font-style:italic;
    margin:0 0 5px 0;
}
.article-prev time, .article-prev-b time{
    font-size:13px;
    display:block;
    color:#969696;
}
.article-prev time a{
    color:#1a54e7;
}
.newsletter{
    background-image:url(../img/newsletter.png);
    background-size:contain;
    color:#ffffff;
    padding:40px 10px;
    text-align:center;
    h3{
        letter-spacing:1px;
        font-size:30px;
    }
    p{
        margin:10px 0;
    }
    fieldset{
        border:0;
        position:relative;
        margin:35px auto 0 auto;
        width:250px;
        height:36px;
        display:flex;
    }

    input{
        width:100%;
        height:100%;
        padding:0 88px 0 16px;
        background-color:rgba(255,255,255,0.2);
        color:#ffffff;
        font-size:0.8rem;
    }

    button{
        width:80px;
        padding:0 8px;
        background-color:#ffffff;
        color:#1a54e7;
        position:absolute;
        top:0;
        right:0;
        height:100%;
    }

    input, button{
        border:0;
        border-radius:36px;
        font-weight:bold;
    }
}

.page-footer{
    padding:30px 20px;
    text-align:center;
    p{
        margin:0 0 10px;
        opacity:.5;
    }
    a{
        font-weight:bold;
        color:#000000;
    }
}
.article-prev, .article-prev-b{
    position:relative;
}

.article-prev-b{
    figcaption{
        margin:0 0 5px 0;
        p{
            font-size:36px;
            display:none;
        }
    }
}
.article-category{
    position:relative;
    margin:0 0 10px 0;
    span{
        position:absolute;
        left:0;
        bottom:20px;
        color:#ffffff;
        padding:5px 10px;
    }
}
@media (min-width:479px){
    main article div{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }
    .article-prev{
        flex-basis:47%;
    }
    .article-prev-b{
        position:relative;
        figcaption{
            position:absolute;
            color:#ffffff;
            text-align:center;
            top:40%;
            left:50%;
            transform:translate(-50%, -40%);
            width:80%;
            font-style:normal;
            p{
                font-size:1.5rem;
                display:block;
            }
        }
        span{
            font-size:14px;
        }
        time{
            margin:8px 0 0 0;
        }
    }
    .people{
        padding:8px 16px;
    }
}
@media (min-width:767px){
    .article-prev-b{
        time{
            position:absolute;
            bottom:25px;
            right:25px;
            color:#ffffff;
        }
        a{
            color:#1a54e7;
        }
        figcaption{
            top:60%;
            transform:translate(-50%, -60%);
            p{
                font-size:2rem;
            }
        }
    }

    .author{
        font-size:28px;
    }
    .page-nav a{
        color:#777777;
    }
    .nav-categories a{
        color:#1a54e7;
    }
    .newsletter{
        padding:60px 40px;
    }
    .newsletter fieldset{
        width:400px;
    }
}

@media (min-width:1023px){
    .art-sec:nth-child(3) .article-prev{
        flex-basis:30%;
    }
    .nav-group{
        position:static;
        width:100%;
        height:100%;
        transform:initial;
        padding:0 15px;
        background:0;
        display:flex;
        justify-content: space-between;
        align-items:center;
        ul{
            display:flex;
            li{
                margin:0 10px 0 0;
                &:nth-child(even), &:nth-child(odd){
                    transform:initial;
                }
            }
            a{
                color:#000000;
                font-size:1rem;
                padding:0;
                &:hover{
                    background:0;
                }
            }
            i{
                display:none;
            }
            .span{
                display:none;
            }
        }
        .search-box{
            position: relative;
            top:0;
            left:0;
        }
    }

    .top-bar{
        padding:0;
        .menu-open{
            display:none;
        }
        h1{
            flex-basis:300px;
        }
    }
    .author{
        width:50vw;
    }
    .nav-group li{
        margin:0 15px 0 0;
    }
    .newsletter h3{
        font-size:36px;
    }
}

@media (min-width:1320px){
    .art-sec{
        padding:20px 150px;
    }
    ul.page-nav{
        margin:0 50px 0 0;
    }
}

@media (min-width:1640px){
    .art-sec{
        padding:20px 300px;
    }
    .page-logo{
        width:600px;
    }
    ul.page-nav{
        margin:0 80px 0 0;
    }
}